body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.cards {
    display: flex;
    width: 100%;
    padding: 50px;
}

.cards .card {
    background-color: antiquewhite;
    color: black;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    /*border: 1px solid black;*/
    margin: 2px;

    transition: all 0.3s ease;

    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3), -4px 0 10px rgba(0, 0, 0, 0.2), -5px 0 10px rgba(0, 0, 0, 0.1);
}

.cards .card a {
    color: rgb(255, 157, 0);
    text-decoration: none;
    font-weight: bold;
}

.cards .card a:hover {
    color: yellowgreen;
}

.cards .card .header {
    flex: 1;
}

.cards .card:hover {
    margin-right: 80px;
    transform: rotate(3deg) translateY(15px);
}

.cards .card .header .date {
    padding: 10px 0;
}

.cards .card .header .title {
    font-size: 28px;
}

.cards .card .imagen {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.cards .card .imagen img {
    max-width: 100%;
    box-shadow: -1px 0 10px black;
}

.cards .card .footer .author a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cards .card .footer img {
    padding: 5px;
    width: 25px;
    border-radius: 50%;
}

.cards .card[class*="element"] {
    margin-left: -100px;
}